.header {
    min-height: 88px;
    max-width: 1920px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1C1C21;
}

.nav {
    min-width: 1280px;
    min-height: 56px;
    display: grid;
    grid-template-columns: 1fr 290px 1fr;
    align-items: center;
}

.box {
    display: flex;
    gap: 8px;
    list-style: none;
    padding: 0;

}
.link {
    text-decoration: none;
    color: white;
    display: flex;
}


.account {
    align-items: center;
    display: flex;
    justify-content: end;

}


